*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-work-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: #F15B22;
  border: none;
  border-radius: 5px;
  padding: 20px 25px;
  cursor: pointer;

}
#head-section .header-img img{
  width: 100%;
  max-width: 1600px;
  max-height: 808px;
  position: relative;
}

#head-section .header-text{
  max-width: 525px;
  max-height: 426px;
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: right;
}
#head-section .header-text h2{
  font-size: 65px;
  font-weight: bold;
  color: #151414;
  margin-bottom: 24px;
}
#head-section .header-text p{
  font-size: 16px;
  color: #444343;
  line-height: 26px;
  margin-bottom: 32px;
}
/* This is main section */
#main-section{
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 87px;
}
#main-section .main-section-img img{
  max-width: 570px;
  max-height: 724px;
}
#main-section .main-section-text{
  max-width: 416px;
  max-height: 400;
}
#main-section .main-section-text h4{
  font-size: 40px;
  font-weight: bold;
  color: #151414;
  margin-bottom: 24px;
}
#main-section .main-section-text p{
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}
#main-section .main-section-text ul li{
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  list-style-type: none;
}
.main-section-text ul li::before{
  content: "✔";
  color: #16D887;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
/* This is my plan section */
#my-plan{
  width: 71%;
  max-width: 1140px;
  max-height: 300px;
  /* border: 1px solid black; */
  margin:0 auto;
  margin-top: 130px;
}
#my-plan .plan-heading h4{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #151414;
  margin-bottom: 55px;
} 
#my-plan .plan-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.plan1{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 214px;
  max-height: 197px;
}
/* .plan1 img{
  max-width: 93px;
  max-height: 93px;
} */
.plan1 h4{
  font-size: 23px;
  font-weight: bold;
  color: #151414;
}
.plan1 p{
  font-size: 18px;
  color: #444343;
}

/* This is banner section */
#banner{
  width: 71%;
  max-width: 1140px;
  margin: 130px auto 0;
}

#banner{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.section-banner{
  border-radius: 10px;
}
#banner .section-gradient{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 5px;
}
.section-banner-text{
  max-width: 460px;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
}
.section-banner-text h4{
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-bottom: 24px;
}
.btn2{
  font-size: 20px;
  font-weight: 600;
  color: #F15B22;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 20px 25px;
  cursor: pointer;
}
/* This is the footer section  */
#footer{
  max-width: 1600px;
  max-height: 577px;
  background-color: #151414;
  margin-top: 130px;
}

#footer h4,p{
  color: white;
}
.section-footer-text{
  max-width: 485px;
  max-height: 317px;
}
.section-form{
  width: 485px;
  height: 317px;
}
#footer .section-footer{
  width: 71%;
  max-width: 1140px;
  padding: 130px 130px ;
  gap: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#footer .footer-text h4{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 16px;
}
#footer .footer-text p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 24px;
}
.footer-icon{
  display: flex;
  gap: 17px;
}
#footer .section-form h4{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}
#footer .section-form input{
  width: 325px;
  font-size: 18px;
  padding: 20px 20px;
  border-radius: 8px;
  border: 2px solid white;
  background: none;
  margin-bottom: 16px;
}
